* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Opcional, mas recomendado */
}

.container-geral{
    display: flex;


}
.topo-botoes{
    background-color: #8c8c8c;
   justify-content: space-between;
  
    display: flex;
    width: 100%;
    padding: 15px 15px;
}

    

.btn-home{
display: flex;
    margin-right: 10px;
    border-radius: 15px;
    border: 1px solid black;
    width: 102px;
    justify-content: center;
}

.btn-servicos{  
display: flex;
    margin-right: 10px;
    border-radius: 15px;
    border: 1px solid black;
    width: 102px;
    justify-content: center;
}
.btn-Contato{  
    display: flex;
    margin-right: 10px;
    border-radius: 15px;
    border: 1px solid black;
    width: 102px;
    justify-content: center;
}